<div id="main-content" class="col-sm-9">
  <h3 class="page-name"><%= link_to 'General discussion', general_discussion_posts_path %></h3>
  <div class="row">
    <%= render @general_discussion_posts %>
    <%= render no_posts_partial_path(@general_discussion_posts) %>
  </div><!-- row -->

  <h3 class="page-name"><%= link_to 'Looking for players', looking_for_players_posts_path %></h3>
  <div class="row">
    <%= render @looking_for_players_posts %>
    <%= render no_posts_partial_path(@looking_for_players_posts) %>
  </div><!-- row -->

  <h3 class="page-name"><%= link_to 'Looking for game master', looking_for_gm_posts_path %></h3>
  <div class="row">
    <%= render @looking_for_gm_posts %>
    <%= render no_posts_partial_path(@looking_for_gm_posts) %>
  </div><!-- row -->
</div><!-- main_content -->
